<!DOCTYPE html>
<html>
<head>
  <title>Video Example</title>
</head>
<body>
  <div style="width:50%; margin: auto; padding: 10px; text-align: center;">
    <h2>Final Project Static File</h2>
    <video width="320" height="240" controls>
      <source src={{ url_for('static', filename="demo.mp4") }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div style="padding: 10px">
      <a href="http://127.0.0.1:8000/dynamic">
        <button>Go to Stream</button>
      </a>
    </div>
    <div >
      <a href="http://127.0.0.1:8000/logout">
        <button>Logout</button>
      </a>
    </div>
  </div>
</body>
</html>